.container{
    text-align: center;
}
body{
    background-color: #333;
    color: #fff;
}

#title {
    text-align: center;
}
.bar:hover {
    fill: brown;
  }
  footer{
      display: block;
      text-align: center;
      
  }
  .link{
      color: yellow
  }
 .tooltip {
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
 }
